@model IEnumerable<SupplyManagement_NET48.Models.Role>

@{
    ViewBag.Title = "Index";
    string userRole = ViewBag.UserRole;
}

<h2>Index</h2>

@if (userRole == "Admin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (userRole == "Admin")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Guid })
                        <span> | </span>
                        @Html.ActionLink("Details", "Details", new { id = item.Guid })
                        <span> | </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Guid })
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <p>No data available.</p>
    }
</table>

